<footer id="footer">
          <div class="container py-5 px-md-0">
      <div class="row">
          <div class="col-md-4 col-lg-2 logo-wrapper">
              <img src="{{data.brandIconUrl}}" alt="Easy Cycles" height="36">
          </div>
          <div class="col-12 col-md-6 download-btn-container d-md-none hidden-section">
              <div class="download-btn-wrapper">
                  <a class="nav-link download-btn" href="https://play.google.com/store/apps/details?id=app.yulu.bike" rel="noopener" target="_blank">
                      <img src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Footer/g-play.svg" class="img img-fluid" alt="Yulu App - Google Store">
                  </a>
              </div>
              <div class="download-btn-wrapper">
                  <a class="nav-link download-btn" href="https://itunes.apple.com/in/app/yulu-bike/id1331504548" rel="noopener" target="_blank">
                      <img src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Footer/app-store.svg" class="img img-fluid" alt="Yulu App - Apple Store">
                  </a>
              </div>
          </div>
          <div class="col-md-8 col-lg-6 footer-links-and-address-container">
              <div class="row footer-links-and-address-wrapper">

  <div class="col-6 col-md-4 footer-links-wrapper quick-links">
    <ul id=" " class="footer-link-list">
      <li id="item menu-item-49" class="footer-link-list-item menu-item menu-item-type-custom menu-item-object-custom menu-item-49"><a href="/about" class="">About</a></li>
      <li id="item menu-item-50" class="footer-link-list-item menu-item menu-item-type-custom menu-item-object-custom menu-item-50"><a href="https://ats.careers.yulu.bike/" class="">Careers</a></li>
      <li id="item menu-item-3954" class="footer-link-list-item menu-item menu-item-type-custom menu-item-object-custom menu-item-3954"><a href="https://newsroom.yulu.bike" class="">NewsRoom</a></li>
      <li id="item menu-item-53" class="footer-link-list-item menu-item menu-item-type-custom menu-item-object-custom menu-item-53"><a href="/privacy-policy" class="">Privacy Policy</a></li>
      <li id="item menu-item-54" class="footer-link-list-item menu-item menu-item-type-custom menu-item-object-custom menu-item-54"><a target="_blank" rel="noopener noreferrer" href="/policy/user_agreement.html" class="">User Agreement</a></li>
      <li id="item menu-item-753" class="footer-link-list-item menu-item menu-item-type-post_type menu-item-object-page menu-item-753"><a href="https://www.yulu.bike/faq/" class="">FAQs</a></li>
    </ul>
  </div>

                  <div class="col-6 col-md-3 footer-links-wrapper product-list-wrapper">
                      <h4 class="footer-list-heading">Product</h4>
                      <ul class="footer-link-list">                             <li class="footer-link-list-item">
                                  <a href="https://www.yulu.bike/products/miracle/">Miracle</a>
                              </li>                             <li class="footer-link-list-item">
                                  <a href="https://www.yulu.bike/products/move/">Move</a>
                              </li>                             <li class="footer-link-list-item">
                                  <a href="https://www.yulu.bike/products/dex/">Dex</a>
                              </li>                     </ul>
                  </div>

                  <div class="col-12 col-md-4 px-md-0 footer-links-wrapper addressWrapper">
                      <h4 class="footer-list-heading">Address</h4>
                      <p class="addressText"> </p>
                      <div class="textwidget custom-html-widget">Eazy Cycles<br class="d-none d-md-block">Vellore Institute Of Technolgy<br class="d-none d-md-block">Vellore - 632014
                      <br class="d-none d-md-block">Tamil Nadu<br class="d-none d-md-block">India
                      </div>
                      <p></p>
                  </div>
              </div>
          </div>

          <div class="col-md-12 col-lg-4 download-btns-and-social-links-container">
              <div class="row download-btns-social-links-wrapper">
                  <div class="col-12 col-md-6 col-lg-12 download-btn-container d-none d-md-flex">
                      <h4 class="download-heading footer-list-heading">Download App</h4>
                      <div class="download-btn-wrapper">
                          <a class="nav-link download-btn" href="https://play.google.com/store/apps/details?id=app.yulu.bike" rel="noopener" target="_blank">
                              <img src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Footer/g-play.svg" class="img img-fluid" alt="Yulu App - Google Store">
                          </a>
                      </div>
                      <div class="download-btn-wrapper">
                          <a class="nav-link download-btn" href="https://itunes.apple.com/in/app/yulu-bike/id1331504548" rel="noopener" target="_blank">
                              <img src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Footer/app-store.svg" class="img img-fluid" alt="Yulu App - Apple Store">
                          </a>
                      </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-12 footer-links-wrapper social-media-icons-container">
                      <h4 class="footer-list-heading">Follow Us on</h4>
                      <div class="social-icons-container">                             <a class="social" rel="noopener" target="_blank" href="https://www.facebook.com">
                                  <img class="social" src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Footer/fb.svg" alt="Facebook">
                              </a>                             <a class="social" rel="noopener" target="_blank" href="https://www.instagram.com">
                                  <img class="social" src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Footer/instagram.svg" alt="Instagram">
                              </a>                             <a class="social" rel="noopener" target="_blank" href="https://www.linkedin.com">
                                  <img class="social" src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Footer/linkdn.svg" alt="Linkdin">
                              </a>                             <a class="social" rel="noopener" target="_blank" href="https://twitter.com">
                                  <img class="social" src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Footer/twittr.svg" alt="Twitter">
                              </a>                             <a class="social" rel="noopener" target="_blank" href="https://www.youtube.com">
                                  <img class="social" src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Footer/youtube.svg" alt="Youtube">
                              </a>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

                  <div class="textwidget custom-html-widget">
                    <hr>
                    <p class="copyrigth">Copyright © 2019 Eazy Bikes Pvt Ltd</p>
                  </div>


  <div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
              </button>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-12 thank-you-text-col">
                          <div class="row thank-you-text-container">
                              <div class="col-lg-7 thank-you-text-wrapper">
                                  <div class="content-wrapper">
                                      <img src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Succes.svg" alt="Success">
                                      <h5 class="text-1">Thank You for Requesting</h5>
                                      <h4 class="text-2">YULU ZONE</h4>
                                      <p class="subtext">We will get in touch with the respective authorities for
                                          processing
                                          your request</p>
                                  </div>
                              </div>
                              <div class="col-lg-5 yulu-zone-image">
                                  <img src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Yulu-zone.png" alt="Yulu">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="modal fade" id="sub-modal" tabindex="-1" role="dialog" aria-labelledby="sub-modal" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
              </button>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-12 thank-you-text-col">
                          <div class="row thank-you-text-container">
                              <div class="col-lg-7 thank-you-text-wrapper">
                                  <div class="content-wrapper">
                                      <img src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Succes.svg" alt="Success">
                                      <h5 class="text-1">Thank You for Subscribing</h5>
                                      <p class="subtext">You should have a thank you gift in your inbox now-and you'll
                                          hear from us again soon!</p>
                                      <div class="social-icons-wrapper">
                                          <h5 class="social-text">Follow us on</h5>
                                          <ul class="social-icons-list">
                                              <li class="social-icon">
                                                  <a rel="noopener" target="_blank" href="https://www.facebook.com/yulumobility">
                                                      <img src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Footer/black/fb.svg" alt="Facebook">
                                                  </a>
                                              </li>
                                              <li class="social-icon">
                                                  <a rel="noopener" target="_blank" href="https://www.instagram.com/yulubike/">
                                                      <img src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Footer/black/instagram.svg" alt="Instagram">
                                                  </a>
                                              </li>
                                              <li class="social-icon">
                                                  <a rel="noopener" target="_blank" href="https://www.linkedin.com/company/yulu/">
                                                      <img src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Footer/black/linkedin.svg" alt="Linkedin"></a>
                                              </li>
                                              <li class="social-icon">
                                                  <a rel="noopener" target="_blank" href="https://twitter.com/yulubike">
                                                      <img src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Footer/black/twitter.svg" alt="Twitter">
                                                  </a>
                                              </li>
                                              <li class="social-icon">
                                                  <a rel="noopener" target="_blank" href="https://www.youtube.com/channel/UCvdrpmOQYF1N6Eh52b5S1Kg">
                                                      <img src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Footer/black/youtube.svg" alt="Youtube">
                                                  </a>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-5 yulu-zone-image">
                                  <img src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/subscribe-success.svg" alt="Success">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>