<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <style media="screen">
      body {
      margin: 0;
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      text-align: left;
      background-color: #fff;
      }

    <!-- .product-section-4 {
    padding: 95px 0;
    background-color: #FAFCFE;
    }

    section {
    overflow: hidden;
    }

    article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
    }

    * {
    box-sizing: border-box;
    } -->


    :root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    }


    </style>

  </head>

  <body>
    <section class="product-section-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-headings mb-0 text-center">
                        <h3 class="mb-0">Frequently Asked Questions</h3>
                    </div>
                </div>
            </div>
            <div class="row faq-tabs-container">
                <div class="col-md-3 col-lg-2 faq-navs-wrapper">
                    <div class="nav flex-md-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">                             <a class="nav-link active" id="v-pills-taking-a-ride-tab" data-toggle="pill" href="#v-pills-taking-a-ride" role="tab" aria-controls="v-pills-taking-a-ride" aria-selected="true">Taking a Ride</a>                             <a class="nav-link" id="v-pills-safety-privacy-tab" data-toggle="pill" href="#v-pills-safety-privacy" role="tab" aria-controls="v-pills-safety-privacy" aria-selected="true">Safety &amp; Privacy</a>                             <a class="nav-link" id="v-pills-payment-tab" data-toggle="pill" href="#v-pills-payment" role="tab" aria-controls="v-pills-payment" aria-selected="true">Payment</a>                             <a class="nav-link" id="v-pills-others-tab" data-toggle="pill" href="#v-pills-others" role="tab" aria-controls="v-pills-others" aria-selected="true">Others</a>                     </div>
                </div>
                <div class="col-md-9 col-lg-10 faq-tab-content-wrapper">
                    <div class="tab-content" id="v-pills-tabContent">                             <div class="tab-pane fade show active" id="v-pills-taking-a-ride" role="tabpanel" aria-labelledby="v-pills-taking-a-ride-tab">
                                <div id="accordion" class="faq-content-accordian">                                          <div class="card">
                                            <div class="card-header" id="479">
                                                <h5 class="card-header-text">How do I find a Miracle near me?</h5>
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse479" aria-expanded="true" aria-controls="collapse479">
                                                        <i class="fa float-right" aria-hidden="true"></i>
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapse479" class="collapse" aria-labelledby="479" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>To find a Miracle near you, simply open the Yulu app. You’ll automatically be taken to the map screen, showing all available Miracle vehicles in your area. If you don’t see any vehicle icons displayed on the map, zoom out to search a wider area.</p>
                                                </div>
                                            </div>
                                        </div>                                          <div class="card">
                                            <div class="card-header" id="481">
                                                <h5 class="card-header-text">How do I ride a Miracle?</h5>
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse481" aria-expanded="false" aria-controls="collapse481">
                                                        <i class="fa float-right" aria-hidden="true"></i>
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapse481" class="collapse" aria-labelledby="481" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>1. Switch on your phone’s Bluetooth and click the UNLOCK button.<br>
2. Scan the QR code on Miracle and your phone will get connected to it. The battery and an estimated range of the vehicle you choose will be displayed on the pre-ride screen.<br>
3. Now click the START button to start your ride</p>
                                                </div>
                                            </div>
                                        </div>                                          <div class="card">
                                            <div class="card-header" id="483">
                                                <h5 class="card-header-text">How do I end a Miracle ride?</h5>
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse483" aria-expanded="false" aria-controls="collapse483">
                                                        <i class="fa float-right" aria-hidden="true"></i>
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapse483" class="collapse" aria-labelledby="483" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>You can end your ride only at a Miracle Yulu Zone. Stop the Miracle with brakes, and then click the END RIDE button. Upon doing so, the motor gets switched OFF, the vehicle gets locked and the ride is stopped. Please note that if you see a place with Miracles already parked there, it may not necessarily be a Miracle Yulu Zone.</p>
                                                </div>
                                            </div>
                                        </div>                                          <div class="card">
                                            <div class="card-header" id="485">
                                                <h5 class="card-header-text">How do I use the Pause feature?</h5>
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse485" aria-expanded="false" aria-controls="collapse485">
                                                        <i class="fa float-right" aria-hidden="true"></i>
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapse485" class="collapse" aria-labelledby="485" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Stop the Miracle with brakes. Then press the PAUSE button and select the time for which you would like to pause. When you are ready to resume the ride, press the RESUME button and then the START button before your pause time gets over. Once the pause time is over, the ride gets automatically stopped and a penalty is applied.</p>
                                                </div>
                                            </div>
                                        </div>                                          <div class="card">
                                            <div class="card-header" id="487">
                                                <h5 class="card-header-text">Can I end the ride at any Yulu Zone?</h5>
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse487" aria-expanded="false" aria-controls="collapse487">
                                                        <i class="fa float-right" aria-hidden="true"></i>
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapse487" class="collapse" aria-labelledby="487" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>You can only end the ride at a Miracle Yulu Zone. Please note that not all Yulu Zones are Miracle Yulu Zones.</p>
                                                </div>
                                            </div>
                                        </div>                                  </div>
                            </div>                             <div class="tab-pane fade" id="v-pills-safety-privacy" role="tabpanel" aria-labelledby="v-pills-safety-privacy-tab">
                                <div id="accordion" class="faq-content-accordian">                                          <div class="card">
                                            <div class="card-header" id="491">
                                                <h5 class="card-header-text">Do I need a special license to ride a Miracle?</h5>
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse491" aria-expanded="false" aria-controls="collapse491">
                                                        <i class="fa float-right" aria-hidden="true"></i>
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapse491" class="collapse" aria-labelledby="491" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>No special license is required.</p>
                                                </div>
                                            </div>
                                        </div>                                          <div class="card">
                                            <div class="card-header" id="493">
                                                <h5 class="card-header-text">Who is allowed to ride a Miracle?</h5>
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse493" aria-expanded="false" aria-controls="collapse493">
                                                        <i class="fa float-right" aria-hidden="true"></i>
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapse493" class="collapse" aria-labelledby="493" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>You can ride a Miracle only if you are 16 years or above. Minors are not allowed to ride a Miracle and their parents will be held responsible if found guilty. Also, note that Miracle is designed for a single person. Non-compliance of this rule will lead to a penalty.</p>
                                                </div>
                                            </div>
                                        </div>                                          <div class="card">
                                            <div class="card-header" id="495">
                                                <h5 class="card-header-text">Is the battery waterproof?</h5>
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse495" aria-expanded="false" aria-controls="collapse495">
                                                        <i class="fa float-right" aria-hidden="true"></i>
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapse495" class="collapse" aria-labelledby="495" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>The battery is waterproof and can withstand rain.</p>
                                                </div>
                                            </div>
                                        </div>                                          <div class="card">
                                            <div class="card-header" id="497">
                                                <h5 class="card-header-text">How does a Miracle get charged?</h5>
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse497" aria-expanded="false" aria-controls="collapse497">
                                                        <i class="fa float-right" aria-hidden="true"></i>
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapse497" class="collapse" aria-labelledby="497" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Our Miracles are equipped with locking, swappable battery packs that we monitor and charge remotely.</p>
                                                </div>
                                            </div>
                                        </div>                                          <div class="card">
                                            <div class="card-header" id="499">
                                                <h5 class="card-header-text">How do I find out the available battery level?</h5>
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse499" aria-expanded="false" aria-controls="collapse499">
                                                        <i class="fa float-right" aria-hidden="true"></i>
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapse499" class="collapse" aria-labelledby="499" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Checking battery level is simple. Just tap the Miracle icon on the app to view the available battery.</p>
                                                </div>
                                            </div>
                                        </div>                                          <div class="card">
                                            <div class="card-header" id="501">
                                                <h5 class="card-header-text">What should I do if the battery of Miracle exhaust in the middle of the ride?</h5>
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse501" aria-expanded="false" aria-controls="collapse501">
                                                        <i class="fa float-right" aria-hidden="true"></i>
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapse501" class="collapse" aria-labelledby="501" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>We encourage you to check the battery % and kilometers left for the Miracle before starting your ride. If the battery becomes low during the ride, we request you to please park it at the nearest Yulu Zone or at a safe place. In such cases, the ride will end after someone from the team has attended the vehicle.</p>
                                                </div>
                                            </div>
                                        </div>                                  </div>
                            </div>                             <div class="tab-pane fade" id="v-pills-payment" role="tabpanel" aria-labelledby="v-pills-payment-tab">
                                <div id="accordion" class="faq-content-accordian">                                          <div class="card">
                                            <div class="card-header" id="489">
                                                <h5 class="card-header-text">How much does a Miracle ride cost?</h5>
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse489" aria-expanded="false" aria-controls="collapse489">
                                                        <i class="fa float-right" aria-hidden="true"></i>
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapse489" class="collapse" aria-labelledby="489" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Please refer to the tariff section in the app for tariff details in your city.</p>
                                                </div>
                                            </div>
                                        </div>                                  </div>
                            </div>                             <div class="tab-pane fade" id="v-pills-others" role="tabpanel" aria-labelledby="v-pills-others-tab">
                                <div id="accordion" class="faq-content-accordian">                                          <div class="card">
                                            <div class="card-header" id="503">
                                                <h5 class="card-header-text">Can I unlock 2 Miracles at the same time?</h5>
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse503" aria-expanded="false" aria-controls="collapse503">
                                                        <i class="fa float-right" aria-hidden="true"></i>
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapse503" class="collapse" aria-labelledby="503" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>No, you cannot unlock 2 Miracles at the same time from the same phone.</p>
                                                </div>
                                            </div>
                                        </div>                                          <div class="card">
                                            <div class="card-header" id="505">
                                                <h5 class="card-header-text">Can I buy a Miracle?</h5>
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse505" aria-expanded="false" aria-controls="collapse505">
                                                        <i class="fa float-right" aria-hidden="true"></i>
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapse505" class="collapse" aria-labelledby="505" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>No, Miracle is not for sale. However, you can regularly enjoy Miracle rides using the Yulu app.</p>
                                                </div>
                                            </div>
                                        </div>                                  </div>
                            </div>                     </div>
                </div>
            </div>
        </div>
    </section>
  </body>

</html>
