<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Miracle</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <!-- bootstrap css and js -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <style media="screen">
      .miracleh1{
        font-size: 3rem;
        font-family: 'Montserrat', sans-serif;
      }

      .miracletop{
        padding: 3% 14% 5%;
      }

      .col{
        padding:2%;
      }

      .miracleimg{
        padding:5% 9% 3%;
      }
      .features-list{
        list-style-type: none;
        float: left;
        padding-left:0;
      }

      .media-body{
        display: flex;
        flex-direction: row;
      }

      img{
        padding-right:15px;
      }

      p{
        padding-top:17px;
        font-size:20px;
      }

      #features{
        background-color: #16213E;
        text-align: center;
        color: #fff;
      }

      .carousel-item{
        padding: 5% 15%;
      }

      .testimonial-picture{
        width: 10%;
        border-radius: 100%;
        margin: 20px;
      }

      #featureimg{
        text-align: center;
        padding:100px;
      }

      #footer{
        padding: 3% 15%;
        background-color: #16213E;
        color: white;
        font-style:;
      }

      .footer-link-list-item{
        text-decoration: none;
      }

    nav{
      background-color: #B1E1FF;
    }

    .navbar{
      height: 80px;
      padding: 5 5 4.5rem;
    }

    .nav-item{
      font-weight: bold;
      font-size: 20px;
      font-family: 'Kanit', sans-serif;
      color: white;
      margin-left: 20px;
    }

    .navbar-brand{
      font-family: 'Ubuntu', sans-serif;
      font-size: 50px;
      font-weight: bold;
      padding-left: 230px;
    }

    .last{
      margin-right: 200px;
    }

    .Specifications{
      font-family: 'Montserrat', sans-serif;
      font-size: 3rem;
      padding: 30px;
      margin-bottom: 70px;
      margin-top: -100px;
    }
    </style>
  </head>

  <body>


    <nav class="navbar navbar-expand-lg navbar-dark">
    <a style="font-size:25px" class="navbar-brand" href="">Eazy Cycles</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ms-auto">
           <li class="nav-item">
              <a class="nav-link" href="">Home</a>
           </li>
           <li class="nav-item">
              <a class="nav-link" href="">About</a>
           </li>
           <li class="nav-item">
              <a class="nav-link" href="">Product</a>
           </li>
           <li class="nav-item">
              <a class="nav-link" href="">Scan</a>
           </li>
           <li class="nav-item">
              <a class="nav-link" href="">Policies</a>
           </li>
           <li class="nav-item">
              <a class="nav-link" href="">Help</a>
           </li>
           <li class="nav-item">
              <a class="last nav-link" href=""><i class="fab fa-duotone fa-circle-user"></i></a>
           </li>
        </ul>
      </div>
    </nav>



<div class="miracletop">
  <div class="row">
    <div class="col">
      <br>
      <br>
        <h1 class="miracleh1">Eazy Miracle</h1>
        <h2 class="miracleh2">Enjoy a miraculous ride!</h2>
        <br>
        <p class="miraclep">Eazy Miracle is your perfect partner to explore urban cities and discover the undiscovered.
          Its brilliant design and unmatched functionality makes it a unique form of transportation.
          Join the Mirac-lution and contribute to a greener environment.</p>
          <br>
          <hr>
          <br>
        <h2 class="miracleh2">Features</h2>


        <ul class="features-list" style="feature-list-style:none">
                                                <li class="feature-list-item">

                                                  <div class="media-body">
                                                    <img class="" src="https://www.yulu.bike/wp-content/uploads/2019/08/Technology.svg" alt="Icon">
                                                    <p>A smart dockless electrical vehicle powered by state-of-the-art IoT technology.</p>
                                                  </div>
                                                </li>
                                                <li class="feature-list-item media">

                                                  <div class="media-body">
                                                    <img class="mr-3" src="https://www.yulu.bike/wp-content/uploads/2019/08/Design.svg" alt="Icon">
                                                      <p>Designed for urban traffic conditions with a maximum speed of 25 Km/h.</p>
                                                  </div>
                                                </li>
                                                <li class="feature-list-item media">

                                                  <div class="media-body">
                                                    <img class="mr-3" src="https://www.yulu.bike/wp-content/uploads/2019/08/Speed.svg" alt="Icon">
                                                      <p>Light Weight, lighter than a scooter, faster than a bicycle.</p>
                                                  </div>
                                                </li>
                                                <li class="feature-list-item media">

                                                  <div class="media-body">
                                                      <img class="mr-3" src="https://www.yulu.bike/wp-content/uploads/2019/08/Unisex.svg" alt="Icon">
                                                  <p>Unisex ultra comfortable bike for any height and weight.</p>
                                                  </div>
                                                </li>
        </ul>
      </div>

    <div class="col">
      <img class="miracleimg" src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Product/miracle/Product-parts/miracle-Parts.png" alt="Miracle">
    </div>
  </div>
</div>


<section id="featureimg">
      <h2 class="Specifications">Specifications</h2>
  <div class="featureimg">
    <img class="featureimg" src="images/miracle.png" alt="" usemap="#workmap">

    <map name="workmap">
      <area shape="circle" coords="137,473,30" alt="" href="https://ms-spares.in/product/centre-stand-first-quality-scooty-pep/">
      <area shape="circle" coords="216,118,30" alt="" href="#seat">
      <area shape="circle" coords="382,320,30" alt="" href="#footboard">
      <area shape="circle" coords="510,445,30" alt="" href="#tyre">
      <area shape="circle" coords="570,170,30" alt="" href="#headlight">
      <area shape="circle" coords="365,28,30" alt="" href="#batteryindicator">
      <area shape="circle" coords="420,120,30" alt="" href="#batteryindicator">
    </map>
  </div>
</section>

<section id="features">
  <div id="testimonial-carousel" class="carousel slide" data-bs-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
            <img class="testimonial-picture" src="https://www.yulu.bike/wp-content/uploads/2019/08/Technology.svg" alt="Icon">
        <p>UNIQUE BODY : Miracles’ unisex frame is uniquely designed and custom built for Indian road conditions. Our lightweight vehicle has almost “Zero Lateral Offset” and lower Center-of-Gravity, which provides great stability and better handling maneuverability.</p>
      </div>
      <div class="carousel-item" id="stand">
            <img class="testimonial-picture" src="https://www.yulu.bike/wp-content/uploads/2019/08/Technology.svg" alt="Icon">
        <p>STAND : Miracle has a light and easy to operate stand. The self-locking main stand for the bike makes parking and ending the ride quick and effortless to step off the bike and park in a single motion.</p>
      </div>
      <div class="carousel-item">
            <img class="testimonial-picture" src="https://www.yulu.bike/wp-content/uploads/2019/08/Technology.svg" alt="Icon">
        <p>SEAT  : Ergonomically well-designed seat for a comfortable solo ride. Our smart seat is enabled with one tap sensor to indicate the state of the battery on the handle display.</p>
      </div>
      <div class="carousel-item">
            <img class="testimonial-picture" src="https://www.yulu.bike/wp-content/uploads/2019/08/Technology.svg" alt="Icon">
        <p>FOOTBOARD : Miracle footboard is specially designed to provide more legroom thereby providing a comfortable ride. The wide footboard along with the battery housing provides a perfect balance to Miracle.</p>
      </div>
      <div class="carousel-item">
            <img class="testimonial-picture" src="https://www.yulu.bike/wp-content/uploads/2019/08/Technology.svg" alt="Icon">
        <p>TYPE : Heavy-duty 100% solid rubber tire with V-style street tread design. Our tires are solid puncture proof perfect for sharing.</p>
      </div>
      <div class="carousel-item">
            <img class="testimonial-picture" src="https://www.yulu.bike/wp-content/uploads/2019/08/Technology.svg" alt="Icon">
        <p>HEAD LIGTH : Miracle comes with a smart LED headlight for good visibility. The weatherproof light has built-in LDR for automatic light control based on the ambient light conditions. Headlight complies with the regulatory requirement of Automatic Headlight On (AHO) for two-wheelers.</p>
      </div>
      <div class="carousel-item">
            <img class="testimonial-picture" src="https://www.yulu.bike/wp-content/uploads/2019/08/Technology.svg" alt="Icon">
        <p>BATTERY INDICATOR : The battery indicator on the handlebar display represents the charge available in the battery. It comes very handy during a ride to estimate the distance for the ride.</p>
      </div>
      <div class="carousel-item">
            <img class="testimonial-picture" src="https://www.yulu.bike/wp-content/uploads/2019/08/Technology.svg" alt="Icon">
        <p>QR CODE : A weatherproof QR code is placed at front and back. You have to just scan the QR code on Yulu App to use our vehicles.</p>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon"</span>
    </button>

  </div>
</section>

<!-- <iframe width="420" height="315"
src="https://www.youtube.com/embed/tgbNymZ7vqY">
</iframe> -->
<!-- <footer id="footer">
        <div class="container py-5 px-md-0">
    <div class="row">
        <div class="col-md-4 col-lg-2 logo-wrapper">
            <img src="https://www.yulu.bike/wp-content/uploads/2019/08/Yulu-Logo.svg" onclick="window.location='https://www.yulu.bike'" alt="Yulu">
        </div>
        <div class="col-12 col-md-6 download-btn-container d-md-none hidden-section">
            <div class="download-btn-wrapper">
                <a class="nav-link download-btn" href="https://play.google.com/store/apps/details?id=app.yulu.bike" rel="noopener" target="_blank">
                    <img src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Footer/g-play.svg" class="img img-fluid" alt="Yulu App - Google Store">
                </a>
            </div>
            <div class="download-btn-wrapper">
                <a class="nav-link download-btn" href="https://itunes.apple.com/in/app/yulu-bike/id1331504548" rel="noopener" target="_blank">
                    <img src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Footer/app-store.svg" class="img img-fluid" alt="Yulu App - Apple Store">
                </a>
            </div>
        </div>
        <div class="col-md-8 col-lg-6 footer-links-and-address-container">
            <div class="row footer-links-and-address-wrapper">

<div class="col-6 col-md-4 footer-links-wrapper quick-links">
  <ul id=" " class="footer-link-list">
    <li id="item menu-item-49" class="footer-link-list-item menu-item menu-item-type-custom menu-item-object-custom menu-item-49"><a href="/about" class="">About</a></li>
    <li id="item menu-item-50" class="footer-link-list-item menu-item menu-item-type-custom menu-item-object-custom menu-item-50"><a href="https://ats.careers.yulu.bike/" class="">Careers</a></li>
    <li id="item menu-item-3954" class="footer-link-list-item menu-item menu-item-type-custom menu-item-object-custom menu-item-3954"><a href="https://newsroom.yulu.bike" class="">NewsRoom</a></li>
    <li id="item menu-item-53" class="footer-link-list-item menu-item menu-item-type-custom menu-item-object-custom menu-item-53"><a href="/privacy-policy" class="">Privacy Policy</a></li>
    <li id="item menu-item-54" class="footer-link-list-item menu-item menu-item-type-custom menu-item-object-custom menu-item-54"><a target="_blank" rel="noopener noreferrer" href="/policy/user_agreement.html" class="">User Agreement</a></li>
    <li id="item menu-item-753" class="footer-link-list-item menu-item menu-item-type-post_type menu-item-object-page menu-item-753"><a href="https://www.yulu.bike/faq/" class="">FAQs</a></li>
  </ul>
</div>

                <div class="col-6 col-md-3 footer-links-wrapper product-list-wrapper">
                    <h4 class="footer-list-heading">Product</h4>
                    <ul class="footer-link-list">                             <li class="footer-link-list-item">
                                <a href="https://www.yulu.bike/products/miracle/">Miracle</a>
                            </li>                             <li class="footer-link-list-item">
                                <a href="https://www.yulu.bike/products/move/">Move</a>
                            </li>                             <li class="footer-link-list-item">
                                <a href="https://www.yulu.bike/products/dex/">Dex</a>
                            </li>                     </ul>
                </div>

                <div class="col-12 col-md-4 px-md-0 footer-links-wrapper addressWrapper">
                    <h4 class="footer-list-heading">Address</h4>
                    <p class="addressText"> </p>
                    <div class="textwidget custom-html-widget">Eazy Cycles<br class="d-none d-md-block">Vellore Institute Of Technolgy<br class="d-none d-md-block">Vellore - 632014
                    <br class="d-none d-md-block">Tamil Nadu<br class="d-none d-md-block">India
                    </div>
                    <p></p>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-4 download-btns-and-social-links-container">
            <div class="row download-btns-social-links-wrapper">
                <div class="col-12 col-md-6 col-lg-12 download-btn-container d-none d-md-flex">
                    <h4 class="footer-list-heading">Download App</h4>
                    <div class="download-btn-wrapper">
                        <a class="nav-link download-btn" href="https://play.google.com/store/apps/details?id=app.yulu.bike" rel="noopener" target="_blank">
                            <img src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Footer/g-play.svg" class="img img-fluid" alt="Yulu App - Google Store">
                        </a>
                    </div>
                    <div class="download-btn-wrapper">
                        <a class="nav-link download-btn" href="https://itunes.apple.com/in/app/yulu-bike/id1331504548" rel="noopener" target="_blank">
                            <img src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Footer/app-store.svg" class="img img-fluid" alt="Yulu App - Apple Store">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-12 footer-links-wrapper social-media-icons-container">
                    <h4 class="footer-list-heading">Follow Us on</h4>
                    <div class="social-icons-container">                             <a rel="noopener" target="_blank" href="https://www.facebook.com/yulumobility/">
                                <img src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Footer/fb.svg" alt="Facebook">
                            </a>                             <a rel="noopener" target="_blank" href="https://www.instagram.com/yulubike/">
                                <img src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Footer/instagram.svg" alt="Instagram">
                            </a>                             <a rel="noopener" target="_blank" href="https://www.linkedin.com/company/yulu/">
                                <img src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Footer/linkdn.svg" alt="Linkdin">
                            </a>                             <a rel="noopener" target="_blank" href="https://twitter.com/yulubike">
                                <img src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Footer/twittr.svg" alt="Twitter">
                            </a>                             <a rel="noopener" target="_blank" href="https://www.youtube.com/channel/UCvdrpmOQYF1N6Eh52b5S1Kg">
                                <img src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Footer/youtube.svg" alt="Youtube">
                            </a>                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid break-line-footer">
    <div class="container py-3">
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-7 text-center text-md-left">
                <div class="textwidget custom-html-widget"><p>Copyright © 2019 Yulu Bikes Pvt Ltd</p></div>            </div>
            <div class="col-sm-12 col-md-5 text-center text-md-right">
<!                 <p>Powered by <a href="http://www.redbaton.in/" rel="noopener" target="_blank" class="poweredByLink">Red Baton Design
                        Studio</a></p> -->
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 thank-you-text-col">
                        <div class="row thank-you-text-container">
                            <div class="col-lg-7 thank-you-text-wrapper">
                                <div class="content-wrapper">
                                    <img src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Succes.svg" alt="Success">
                                    <h5 class="text-1">Thank You for Requesting</h5>
                                    <h4 class="text-2">YULU ZONE</h4>
                                    <p class="subtext">We will get in touch with the respective authorities for
                                        processing
                                        your request</p>
                                </div>
                            </div>
                            <div class="col-lg-5 yulu-zone-image">
                                <img src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Yulu-zone.png" alt="Yulu">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sub-modal" tabindex="-1" role="dialog" aria-labelledby="sub-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 thank-you-text-col">
                        <div class="row thank-you-text-container">
                            <div class="col-lg-7 thank-you-text-wrapper">
                                <div class="content-wrapper">
                                    <img src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Succes.svg" alt="Success">
                                    <h5 class="text-1">Thank You for Subscribing</h5>
                                    <p class="subtext">You should have a thank you gift in your inbox now-and you'll
                                        hear from us again soon!</p>
                                    <div class="social-icons-wrapper">
                                        <h5 class="social-text">Follow us on</h5>
                                        <ul class="social-icons-list">
                                            <li class="social-icon">
                                                <a rel="noopener" target="_blank" href="https://www.facebook.com/yulumobility">
                                                    <img src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Footer/black/fb.svg" alt="Facebook">
                                                </a>
                                            </li>
                                            <li class="social-icon">
                                                <a rel="noopener" target="_blank" href="https://www.instagram.com/yulubike/">
                                                    <img src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Footer/black/instagram.svg" alt="Instagram">
                                                </a>
                                            </li>
                                            <li class="social-icon">
                                                <a rel="noopener" target="_blank" href="https://www.linkedin.com/company/yulu/">
                                                    <img src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Footer/black/linkedin.svg" alt="Linkedin"></a>
                                            </li>
                                            <li class="social-icon">
                                                <a rel="noopener" target="_blank" href="https://twitter.com/yulubike">
                                                    <img src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Footer/black/twitter.svg" alt="Twitter">
                                                </a>
                                            </li>
                                            <li class="social-icon">
                                                <a rel="noopener" target="_blank" href="https://www.youtube.com/channel/UCvdrpmOQYF1N6Eh52b5S1Kg">
                                                    <img src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/Footer/black/youtube.svg" alt="Youtube">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 yulu-zone-image">
                                <img src="https://www.yulu.bike/wp-content/themes/redbaton/redbaton/images/Home/subscribe-success.svg" alt="Success">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>
  </body>

</html>
